@using IvoRakar.Business.Enums

@model IvoRakar.ViewModels.SubscriberViewModel
<div class="inner">

    @Html.ValidationSummary("", new { @class = "alert alert-danger", @role = "alert" })
    <div class="form-group">
        <label>E-Mail:</label>
        @Html.TextBoxFor(m => m.Subscriber.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Why do you want to subscribe:</label>
        @Html.TextBoxFor(m => m.Subscriber.Resason, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>How did you hear about us:</label>
        @Html.DropDownListFor(m => m.Subscriber.MarketingTool,
                    new SelectList(Enum.GetValues(typeof(MarketingTool))),
                    "Select one option", new { @class = "form-control" })
    </div>


    <div class="alert alert-@Model.Status.Type alert-dismissible" role="alert" style=@(string.IsNullOrEmpty(Model.Status.Message) ? "display:none;" : "")>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Status.Message
    </div>

    <input type="submit" value="Subscribe" class="btn btn-primary form-submit-button" />

    <div id="loading-div" style="display:none;">
        <img src="~/Content/Images/giphy1.gif" alt="Loading-image" />
    </div>

</div>




